                        <!-- BEGIN LOGO -->
                        <tr>
                            <td style="margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;">
                            <table width="584" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;line-height:0;">
                            <tr>
                                <td rowspan="3" width="128" height="52" valign="top" style="line-height:0; margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;"><a href="#?eid=email_DE_Transactional__Logo_2014"><img align="left" class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_04.jpg" alt="Copart" title="Copart" width="128" height="52" style="display:block; border:none; margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;" /></a></td>
                                <td rowspan="3" width="456" height="52" valign="top" style="line-height:0; margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;"><img align="left" class="image_fix" src="http://image.e.copart.co.uk/lib/fe9312717662037c71/m/3/welcome_aurora_06b.jpg" alt="" width="456" height="52" style="display:block; margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;" /></td>
                            </tr>
                            </table>
                            </td>
                        </tr>
                        <!-- END LOG0 -->
                        <!-- BEGIN NAVIGATION -->
                        <tr>
                        	<td style="margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;">
                        	<table width="584" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;">
                            <tr>
                        	<td width="40" height="24" valign="top"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_09.jpg" alt="" width="40" height="24" style="display:block;" /></td>
                            <td width="111" height=24"" valign="top"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/2/Copart_Email_Main_DE_10.jpg" alt="Startseite" title="Startseite" width="111" height="24" style="display:block;border:none;" /><a href="#?eid=email_DE_Transactional__Home_2014" target="_blank"></a></td>
                            <td width="130" height="24" valign="top"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/2/Copart_Email_Main_DE_11.jpg" alt="Ein Fahrzeug finden" title="Ein Fahrzeug finden" width="130" height="24" style="display:block;border:none;" /><a href="#?eid=email_DE_Transactional__copartde_2014" target="_blank"><a href="#?eid=email_DE_Transactional__FindaVehicle_2014" target="_blank"></a></td>
                            <td width="88" height="24" valign="top"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/2/Copart_Email_Main_DE_12.jpg" alt="Auktionen" title="Auktionen" width="88" height="24" style="display:block;border:none;" /><a href="#?eid=email_DE_Transactional__auctions_2014" target="_blank"></a></td>
                            <td width="86" height="24" valign="top"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/2/Copart_Email_Main_DE_13.jpg" alt="Standorte" title="Standorte" width="86" height="24" style="display:block;border:none;" /><a href="#?eid=email_DE_Transactional__Locations_2014" target="_blank"></a></td>
                            <td width="87" height="24" valign="top"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/2/Copart_Email_Main_DE_14.jpg" alt="Hilfe" title="Hildfe" width="87" height="24" style="display:block;border:none;" /><a href="#?eid=email_DE_Transactional__SellaVehicle_2014" target="_blank"></a></td>                          
                            <td width="42" height="24" valign="top"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1/welcome_aurora_16.jpg" alt="" width="42" height="24" style="display:block;border:none;" /></td>
                            </tr>
                            <tr><td width="584" height="11" colspan="8" valign="top">&nbsp;</td></tr>
                            </table>
                            </td>
                        </tr>
			<!-- END NAVIGATION -->