                        <!-- BEGIN LOGO -->
                        <tr>
                            <td style="margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;">
                            <table width="584" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;line-height:0;">
                            <tr>
                                <td rowspan="3" width="128" height="52" valign="top" style="line-height:0; margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;"><a href="http://copart.in/IN/?eid=email_India_Transactional_Logo_2015"><img align="left" class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_04.jpg" alt="Copart" title="Copart" width="128" height="52" style="display:block; border:none; margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;" /></a></td>
                                <td rowspan="3" width="456" height="52" valign="top" style="line-height:0; margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;"><img align="left" class="image_fix" src="http://image.e.copart.co.uk/lib/fe9312717662037c71/m/3/welcome_aurora_06b.jpg" alt="" width="456" height="52" style="display:block; margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;" /></td>
                            </tr>
                            </table>
                            </td>
                        </tr>
                        <!-- END LOG0 -->
                        <!-- BEGIN NAVIGATION -->
                        <tr>
                        	<td style="margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;">
                        	<table width="584" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;">
                            <tr>
                        	<td width="40" height="24" valign="top"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_09.jpg" alt="Home" width="91" height="24" style="display:block;" /></td>
                            <td width="59" height="24" valign="top"><a href="http://copart.in/IN/?eid=email_India_Transactional_Home_Header" target="_blank"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_10.jpg" alt="Home" title="Home" width="59" height="24" style="display:block;border:none;" /></a></td>
                            <td width="99" height="24" valign="top"><a href="http://copart.in/IN/Search/VehicleFinder?eid=email_India_Transactional_FindaVehicle_Header" target="_blank"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_11.jpg" alt="Find a Vehicle" title="Find a Vehicle" width="99" height="24" style="display:block;border:none;" /></a></td>
                            <td width="80" height="24" valign="top"><a href="http://copart.in/IN/Auctions/Today?eid=email_India_Transactional_Auctions_Header" target="_blank"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_12.jpg" alt="Auctions" title="Auctions" width="80" height="24" style="display:block;border:none;" /></a></td>
                            <td width="85" height="24" valign="top"><a href="http://copart.in/IN/Locations?eid=email_India_Transactional_Locations_Header" target="_blank"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_13.jpg" alt="Locations" title="Locations" width="85" height="24" style="display:block;border:none;" /></a></td>

                            <td width="77" height="24" valign="top"><a href="http://copart.in/Content/IN/en-in/Support/How-to-Buy/Overview?eid=email_India_Transactional_Support_Header" target="_blank"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_15.jpg" alt="Support" title="Support" width="77" height="24" style="display:block;border:none;" /></a></td>
                            <td width="42" height="24" valign="top"><img class="image_fix" src="http://image.s6.exacttarget.com/lib/fe9312717662037c71/m/1//welcome_aurora_16.jpg" alt="" width="93" height="24" style="display:block;border:none;" /></td>
                            </tr>
                            <tr><td width="584" height="11" colspan="8" valign="top"></td></tr>
                            </table>
                            </td>
                        </tr>
			<!-- END NAVIGATION -->