    <!-- BEGIN FOOTER -->
    <tr>
        <td style="margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;">
            <table cellpadding="0" cellspacing="0" border="0" align="center" style="margin-top:10px;border-collapse:collapse;">
                <tr>
                <td width="197" height="132" valign="top" style="text-align:center; margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:0; padding-right:0; padding-top:0; padding-bottom:0;">
                    <table style="width:584px;border-collapse:collapse;">          
                        <tr>
                            <td valign="top" style="margin-left:0; margin-top:0; margin-bottom:0; margin-right:0; padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px;">
                                <p style="text-align:left;font-size:10px;font-family:Arial;line-height:16px;color:#444444;margin:0;padding:0;">This e-mail has been sent to: <a href="mailto:$TO_EMAIL" style="color: #336699; font-weight: normal; text-decoration: underline;">$TO_EMAIL</a>
				<br />
				This e-mail was sent from: <a href="mailto:$FROM_EMAIL" style="color: #336699; font-weight: normal; text-decoration: underline;">$FROM_EMAIL</a>
                                <br />
				We respect your right to privacy - <a href="http://copart.in/Content/IN/en-IN/Privacy-Policy" style="color: #336699; font-weight: normal; text-decoration: underline;">we refer to our Guidelines</a> 
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
	    </table>
        </td>
    </tr>
    <!-- END FOOTER -->